<style>
    .order-card {
    color: #fff;
}

.bg-c-blue {
    background: linear-gradient(45deg,#4099ff,#73b4ff);
}

.bg-c-green {
    background: linear-gradient(45deg,#2ed8b6,#59e0c5);
}

.bg-c-yellow {
    background: linear-gradient(45deg,#FFB64D,#ffcb80);
}

.bg-c-pink {
    background: linear-gradient(45deg,#FF5370,#ff869a);
}


.card {
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
    border: none;
    margin-bottom: 30px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.card .card-block {
    padding: 25px;
}

.order-card i {
    font-size: 26px;
}

.f-left {
    float: left;
}

.f-right {
    float: right;
}
</style>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<br>
<div class="container">
    <div class="row">
        <div class="col-md-4 col-xl-4">
            <div class="card bg-c-blue order-card">
                <div class="card-block">
                    <h2 class="m-b-20">1st Position</span></h2>
                    <h4 class="text-left"><span>9 Incidents Reported</span></h4><i class="fa fa-trophy f-right"></i>
                    <h3 class="m-b-0">ishitam<span class="f-right"></h3>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-4">
            <div class="card bg-c-pink order-card">
                    <div class="card-block">
                            <h2 class="m-b-20">2nd Position</span></h2>
                            <h4 class="text-left"><span>6 Incidents Reported</span></h4><i class="fa fa-shield f-right"></i>
                            <h3 class="m-b-0">arushi17798<span class="f-right"></h3>
                        </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-4">
                <div class="card bg-c-green order-card">
                        <div class="card-block">
                                <h2 class="m-b-20">3rd Position</span></h2>
                                <h4 class="text-left"><span>5 Incidents Reported</span></h4><i class="fa fa-star f-right"></i>
                                <h3 class="m-b-0">bhuwan02<span class="f-right"></h3>
                            </div>
                </div>
            </div>
        
        </div>
</div>

<div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card strpied-tabled-with-hover">
                                <div class="card-header ">
                                    <h4 class="card-title"><b>Leaderboard</b></h4>
                                 
                                </div>
                                <div class="card-body table-full-width table-responsive">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                            <th>S.No.</th>
                                            <th>Username</th>
                                            <th>Reported Incidents</th>
                                            <th>Points</th>
                                            <th>Badge</th>
                                            
                                        </thead>
                                        <tbody>
                                              
                                                <tr>
                                                    <td>1.</td>
                                                    <td>ishitam</td>
                                                    <td>9</td>
                                                    <td><span class="w3-badge w3-blue">90</span></td>
                                                    <td><b>Platinum</b></td>
    
                                                </tr>

                                                <tr>
                                                        <td>2.</td>
                                                        <td>arushi17798</td>
                                                        <td>6</td>
                                                        <td><span class="w3-badge w3-pink">60</span></td>
                                                        <td><b>Gold</b></td>
        
                                                    </tr>

                                                    <tr>
                                                            <td>3.</td>
                                                            <td>bhuwan02</td>
                                                            <td>5</td>
                                                            <td><span class="w3-badge w3-green">50</span></td>
                                                            <td><b>Silver</b></td>
            
                                                        </tr>
                                                        <tr>
                                                                <td>4.</td>
                                                                <td>darksoul</td>
                                                                <td>4</td>
                                                                <td><span class="w3-badge w3-red">40</span></td>
                                                                <td><b>Bronze</b></td>
                
                                                            </tr>
                                                
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                      
                    </div>
                </div>
            </div>
