
            <footer class="footer">
                <div class="container-fluid">
                    <nav>
                        <ul class="footer-menu">

                            <li>
                                <a href="https://appseed.us/admin-dashboards/flask-dashboard-light-bootstrap">
                                    Contact Us
                                </a>
                            </li>

                            <li>
                                <a href="https://github.com/app-generator/flask-dashboard-light-bootstrap">
                                    Designed and Developed by Team Animalia
                                </a>
                            </li>

                            

                            

                        </ul>
                        
                    </nav>
                </div>
            </footer>

